
# This file is a template for environment variables. Copy it to .env and fill in the values.
DATABASE_URL= # Your database connection string, You could use neon or supabase,
# but if you want to use sqlite, you need to configure it in the prisma schema first

ADMIN_PASSWORD='ExamplePassword1231'
ADMIN_EMAIL='ExampleEmail@example.com'
ADMIN_NAME='ExampleName'
# You should change these values before running the app and then run npx prisma db seed


# JWT SECRET KEY
SECRET_JWT_KEY="your-secret-key-here" # you should change this value before running the app
TOKEN_EXPIRATION="1h" # set it as you need
COOKIE_MAX_AGE=3600000 # 1 hour in milliseconds, set it as you need